.post-wrapper .post{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr auto 1fr;
    margin: 10px 0px;
    grid-template-areas: 
    "post-sidebar post-title"
    "post-sidebar post-body"
    "post-sidebar post-footer";

    cursor: pointer;
}

.post-wrapper .post .post-sidebar {
    grid-area: post-sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    background-color: rgb(245, 245, 245);
}

.post-wrapper .post .post-sidebar > svg {
    color: rgb(130, 130, 130);
}

.post-wrapper .post .post-sidebar .upvote:hover {
    color: rgb(200, 0, 0);
}

.post-wrapper .post .post-sidebar .downvote:hover {
    color: var(--primary-color);
}

.post-wrapper .post .post-sidebar span {
    font-weight: 600;
    font-size: 13px;
}

.post-wrapper .post .post-title {
    grid-area: post-title;
    align-items: center;
    display: flex;
    background-color: rgb(245, 245, 245);
}

.post-wrapper .post .post-title > img {
    min-height: 16px;
    min-width: 16px;
    max-height: 16px;
    max-width: 16px;
    margin: 0px 5px;
    border-radius: 50%;
}

.post-wrapper .post .post-title > .subreddit-name {
    font-weight: 600;
    font-size: 12px;
}

.post-wrapper .post .post-title > .subreddit-name:hover {
    text-decoration: underline;
}

.post-wrapper .post .post-title > .post-user {
    font-size: 12px;
    padding-left: 5px;
    color: rgb(200, 200, 200);
}

.post-wrapper .post .post-title .underline:hover {
    text-decoration: underline;
}

.post-wrapper .post .post-title > .button {
    margin: 8px;
    padding: 4px 8px;

    font-size: 11px;
}

.post-wrapper .post .post-body {
    grid-area: post-body;
    background-color: white;
}
.post-wrapper .post .post-body > .title {
    font-size: 18px;
    font-weight: 600;
    margin-left: 5px;
}

.post-wrapper .post .post-body > img {
    max-width: 100%;
    max-height: 500px;
    background-size: cover;
    object-fit: cover;
    object-position: center;
}

.post-wrapper .post .post-body > video {
    width: 100%;
}

.post-wrapper .post .post-body > .description {
    font-size: 18px;
    display: block;
    margin-left: 5px;
}

.post-wrapper .post .post-footer {
    grid-area: post-footer;
    background-color: white;

    display: flex;
    color: rgb(130,130,130);
    padding-left: 5px;
    align-items: center;
}

.post-wrapper .post .post-footer svg {
    font-size: 16px;
    margin: 0px 5px;
}


.post-wrapper .post .post-footer span {
    font-size: 14px;
}


.post-wrapper .post .post-footer .footer-action {
    display: flex;
    align-items: center;
    margin: 0px 5px;
    padding: 3px;
}

.post-wrapper .post .post-footer .footer-action:first-child {
    margin-left: 0px;
}

.post-wrapper .post .post-footer .footer-action:last-child {
    margin-right: 0px;
}


.post-wrapper .post .post-footer .footer-action:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
}
